.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px; 
  min-width: 40%;
}

.FormTitle {
    text-align: center;
    width: 100%;
    font-size: 50px;
}

.container {
  position: relative;
  width: 100%;
  padding: 10px;
  font-family: sans-serif;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.list {
  font-size: 18px;
  line-height: 1.6;
  padding-left: 20px;
}

.list > li {
  padding-top: 10px;
}

code {
  background: #f1f5f9;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
}

.tip {
  position: absolute;
  background: #fff;
  padding: 10px 14px;
  border-radius: 18px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 25%;
  line-height: 1.4;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #202020;
  right: 2%;
}

.tip::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 24px;
  background: #ffffff;
  border-right:1px solid rgba(0, 0, 0, 0.2);
  border-bottom:1px solid rgba(0, 0, 0, 0.2);
  transform: rotate(45deg);
  z-index: 1;
}

.tip1 {
  top: 20%;
}

.tip1::after {
  top: 100.5%;
  left: 10%;
  transform: translateY(-50%) rotate(64deg);
}

.tip2 {
  top: 50%;
}

.tip2::after {
  top: 100.5%;
  left: 10%;
  transform: translateY(-50%) rotate(64deg);
}

.tip3 {
  top: 75%;
  width: 40%;
}

.tip3::after {
  display: none;
}

.tip3 strong {
  font-size: 15px;
}

@media (max-width: 768px) {
  .pageContainer {
    padding-top: 10%;
  }

  .FormTitle {
    font-size: 32px;
  }

  .list {
    font-size: 13px;
  }

  .tip {
    margin-top: 25px;
    font-size: 10px;
    min-width: 5%;
    color: #000000;
  }

  .tip::after {
    width: 6px;
    height: 12px;
    left: 15%;
  }

  .tip1::after {
    left: 23%;
  }

  .tip2 {
    top: 45%;
  }

  .tip3 {
    /* margin-top: -5px; */
    top: 65%
  }

  .tip3 strong {
    font-size: 10px;
  }
}